.key {
    width: 40px;
    height: 40px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
  }
  
  .keyW {
    width: 42px;
    border-bottom: none;
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .key.active {
    background-color: rgba(255, 255, 255, 1);
    color: #000;
  }
  
  .keyS {
    border-left: none;
    border-right: none;
  }
  
  .keyBox{
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .arrowBox {
    text-align: center;
  }
  
  .keyEnter {
    margin-left: 50px;
    display: block;
    text-align: center;
    font-size: 0px;
    position: relative;
  }
  
  .keyEnter.active .keyEnterBox.real {
    background-color: #FFF;
  }
  
  .keyEnter.active .keyEnterIcon{
    fill: #000;
  }
  
  .keyEnterBox{
    transition: all 0.5s;
    border: 2px solid #FFF;
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 16px;
    
  }
  
  .keyEnterBox:nth-child(1) {
    border: none;
  }
  
  .keyEnterBox:nth-child(2) {
    border-bottom: none;
    cursor: pointer;
  }
  
  .keyEnterBox:nth-child(4) {
    border-right: none;
    cursor: pointer;
  }
  
  .keyEnterBox:nth-child(5) {
    border-left: none;
    border-top: none;
    cursor: pointer;
  }
  
  .keyEnterIcon{
    transition: all 0.5s;
    fill: #FFF;
    position: absolute;
    left: 55%;
    top: 55%;
  }
  
  .keyBackSpace{
    border: 2px solid #FFF;
    width: 110px;
    height: 40px;
    margin-left: 50px;
    display: inline-flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: right;
    transition: all 0.5s;
  }
  
  .keyBackSpace.active {
    background-color: #FFF;
  }
  
  .keyBackSpaceIcon{
    transition: all 0.5s;
    fill: #FFF;
    transform: rotate(180deg);
    margin-right: 20%;
  }
  
  .keyBackSpace.active .keyBackSpaceIcon{
    fill:#000;
  }